:root {
    --tile-size: 100px;
}

body {
    overflow: hidden;
}

#bg-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--tile-size));
    justify-content: center;
    height: 0;
}

.bg-tile {
    height: var(--tile-size);
    width: var(--tile-size);
    transition: clip-path 500ms;
    background: cyan;
}

.circle {
    clip-path: inset(20% round 50%);
}

.vert-rect {
    clip-path: inset(0% 20%);
}

.horz-rect {
    clip-path: inset(20% 0%);
}

#shape-buttons {
    position: absolute;
    top: 5%;
    left: 5%
}