body {
    background-color: black;
}

@keyframes main-pulse {
    to {
        scale: 0.9;
    }
}

@keyframes arc-vertical {
    0% {
        transform: translateY(0%);
    }
    20% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(600%);
    }
}

@keyframes arc-left {
    100% {
        transform: translateX(-300%);
    }
}

@keyframes arc-right {
    to {
        transform: translateX(300%);
    }
}

@keyframes dissipate {
    to {
      scale: 0;  
    }
}

.spark {
    background: radial-gradient(white, lightblue);
    border-radius: 50%;
}

.spark-main {
    position: absolute;
    width: 13px;
    height: 13px;
    top: 300px;
    left: 300px;
    animation: main-pulse 0.1s ease-in-out infinite alternate;
}

.spark-particle-1-vertical {
    position: absolute;
    top: 50%;
    left: 5%;
    animation: arc-vertical 0.3s 1 ease-in;
    z-index: 1;
}

.spark-particle-2-vertical {
    position: absolute;
    top: 10%;
    left: 50%;
    animation: arc-vertical 0.3s 1 ease-in 0.1s;
    z-index: 1;
}

.spark-particle-1 {
    width: 8px;
    height: 8px;
    z-index: 1;
    animation: arc-left 0.3s 1 linear, dissipate 0.3s 1 ease-in;

}

.spark-particle-2 {
    width: 5px;
    height: 5px;
    z-index: 1;
    animation: arc-right 0.3s 1 ease-in-out 0.1s, dissipate 0.3s 1 ease-in 0.1s;
}