:root {
    --tile-size: 100px;
    --pulse-scale: 1.2;
}

body {
    overflow: hidden;
}

#bg-tiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, var(--tile-size));
    justify-content: center;
    height: 0;
}

.bg-tile {
    height: var(--tile-size);
    width: var(--tile-size);
    transition: clip-path 500ms;
    background: cyan;
}

.circle {
    clip-path: inset(20% round 50%);
}

.pulsed {
    scale: var(--pulse-scale);
    /* Ideally the scaling should be applied immediately,
       but the transitionend event used to control which
       class is active doesn't fire unless the duration
       is non-zero. */
    transition: scale 0.01ms; 
}

.unpulsed {
    scale: 1;
    transition: scale 200ms;
}